doctype html
html
  head
    title!= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
    meta(charset='utf-8')
  body
block content
    nav.navbar.navbar-default
        .container-fluid
            .navbar-header
                p.navbar-brand E3 News
                p.navbar-text Toute l'actu de l'E3 en direct
  div.container
    div.content
      table.table.table-striped
        thead
          tr
            th News
            th Description
            th Date
            th Source
        tbody
            each article in articles
                tr
                    td: a(href="#{article.link}" target="_blank") #{article.title}
                    td= article.content
                    td= article.published
                    td= article.feed.name

  div.footer